%This is a comment
%variables are written with NAME:VALUE
%line without ':' or '%' is treated as end of file.
%doLog:boolean, whether to log or not, default is true.
doLog:true
%logToFile:boolean, whether or not client library should log to file, default is false.
logToFile:true
%username:String, Must be configured.
username:testname
%password:String, Must be configured.
password:testpassword
%role:String, Must be configured.
role:clientRole2
%service:URI, Must be configured.
service:https://10.0.0.1:8243/services/EchoService
%interval:long, between requests in milliseconds, only one request if not configured
interval:3000
%nofreqs: int, number of requests to send, send forever if not configured
nofreqs:30
%delay:long, wait before first request in milliseconds, default is 0
delay:15
%request:SOAP, Must be configured.
request:<?xml version="1.0" encoding="UTF-8"?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Header/><S:Body><ns2:hello xmlns:ns2="http://me.test.org"><name>{REQID}</name></ns2:hello></S:Body></S:Envelope>
